In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bloomberg_full_data copy.csv')

In [3]:
stock_code = list(df['STOCK_CODE'].unique())

In [4]:
df

,Unnamed: 0,STOCK_CODE,DATE,PE_RATIO,PX_TO_BOOK_RATIO,EQY_FLOAT,BLOOMBERG_CLOSE_PRICE,PX_HIGH,PX_LOW,PX_OPEN,PX_VOLUME,CUR_MKT_CAP
0,0,1353,2020-07-01,1.2055,48.1997,60.582,1.0,1.0,1.0,1.0,86052000.0,610.794
1,1,1353,2020-06-30,1.2055,48.1997,60.582,1.0,1.0,1.0,1.0,86052000.0,610.794
2,2,1353,2020-06-29,1.2055,48.3068,60.582,1.0,1.0,1.0,1.0,86052000.0,610.794
3,3,1353,2020-06-26,1.2055,48.2883,60.582,1.0,1.0,1.0,1.0,86052000.0,610.794
4,4,1353,2020-06-25,1.2055,48.2877,60.582,1.0,1.0,1.0,1.0,86052000.0,610.794
...,...,...,...,...,...,...,...,...,...,...,...,...
1026075,1026075,1542,2014-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026076,1026076,1542,2014-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026077,1026077,1542,2014-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026078,1026078,1542,2014-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026079,1026079,1542,2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
temp_df = df[df['STOCK_CODE']==stock_code[0]].sort_values('DATE').dropna()

In [6]:
df2 = pd.DataFrame()
for stock in stock_code:
    temp_df = df[df['STOCK_CODE']==stock].sort_values('DATE').dropna()
    df3 = df2.append(temp_df)
    df2 = df3

In [7]:
df2 = df2.drop(columns = ['Unnamed: 0','PE_RATIO','PX_TO_BOOK_RATIO','EQY_FLOAT','PX_HIGH','PX_LOW','PX_OPEN','PX_VOLUME'])

In [8]:
df2

         STOCK_CODE        DATE  BLOOMBERG_CLOSE_PRICE  CUR_MKT_CAP
1240           1353  2015-09-30                   1.00      610.794
1239           1353  2015-10-01                   1.00      610.794
1238           1353  2015-10-02                   1.00      610.794
1237           1353  2015-10-05                   1.00      610.794
1236           1353  2015-10-06                   1.00      610.794
...             ...         ...                    ...          ...
1024388        1542  2020-06-25                   3.81      762.000
1024387        1542  2020-06-26                   3.85      770.000
1024386        1542  2020-06-29                   3.80      760.000
1024385        1542  2020-06-30                   3.80      760.000
1024384        1542  2020-07-01                   3.80      760.000

[370106 rows x 4 columns]

In [9]:
df2[df2['STOCK_CODE']==stock_code[0]].iloc[:756]

      STOCK_CODE        DATE  BLOOMBERG_CLOSE_PRICE  CUR_MKT_CAP
1240        1353  2015-09-30                    1.0      610.794
1239        1353  2015-10-01                    1.0      610.794
1238        1353  2015-10-02                    1.0      610.794
1237        1353  2015-10-05                    1.0      610.794
1236        1353  2015-10-06                    1.0      610.794
...          ...         ...                    ...          ...
489         1353  2018-08-16                    1.0      610.794
488         1353  2018-08-17                    1.0      610.794
487         1353  2018-08-20                    1.0      610.794
486         1353  2018-08-21                    1.0      610.794
485         1353  2018-08-22                    1.0      610.794

[756 rows x 4 columns]

In [10]:
df2

         STOCK_CODE        DATE  BLOOMBERG_CLOSE_PRICE  CUR_MKT_CAP
1240           1353  2015-09-30                   1.00      610.794
1239           1353  2015-10-01                   1.00      610.794
1238           1353  2015-10-02                   1.00      610.794
1237           1353  2015-10-05                   1.00      610.794
1236           1353  2015-10-06                   1.00      610.794
...             ...         ...                    ...          ...
1024388        1542  2020-06-25                   3.81      762.000
1024387        1542  2020-06-26                   3.85      770.000
1024386        1542  2020-06-29                   3.80      760.000
1024385        1542  2020-06-30                   3.80      760.000
1024384        1542  2020-07-01                   3.80      760.000

[370106 rows x 4 columns]

In [11]:
df2['Daily Return'] = ""

In [12]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return
1240,1353,2015-09-30,1.00,610.794,
1239,1353,2015-10-01,1.00,610.794,
1238,1353,2015-10-02,1.00,610.794,
1237,1353,2015-10-05,1.00,610.794,
1236,1353,2015-10-06,1.00,610.794,
...,...,...,...,...,...
1024388,1542,2020-06-25,3.81,762.000,
1024387,1542,2020-06-26,3.85,770.000,
1024386,1542,2020-06-29,3.80,760.000,
1024385,1542,2020-06-30,3.80,760.000,
1024384,1542,2020-07-01,3.80,760.000,

In [13]:
range(len(df2))[-1]

370105

In [14]:
for i in range(len(df2)):
    if i == range(len(df2))[-1]:
        break
    if (df2["STOCK_CODE"].iloc[i] == df2["STOCK_CODE"].iloc[i+1]):
        df2['Daily Return'] = (df2['BLOOMBERG_CLOSE_PRICE'] - df2['BLOOMBERG_CLOSE_PRICE'].shift(1))/(df2['BLOOMBERG_CLOSE_PRICE'].shift(1))
    else:
        i = i + 1

In [15]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return
1240,1353,2015-09-30,1.00,610.794,NaN
1239,1353,2015-10-01,1.00,610.794,0.000000
1238,1353,2015-10-02,1.00,610.794,0.000000
1237,1353,2015-10-05,1.00,610.794,0.000000
1236,1353,2015-10-06,1.00,610.794,0.000000
...,...,...,...,...,...
1024388,1542,2020-06-25,3.81,762.000,0.000000
1024387,1542,2020-06-26,3.85,770.000,0.010499
1024386,1542,2020-06-29,3.80,760.000,-0.012987
1024385,1542,2020-06-30,3.80,760.000,0.000000
1024384,1542,2020-07-01,3.80,760.000,0.000000

In [16]:
df2['1 + Daily Return'] = df2['Daily Return'] + 1

In [17]:
df2 = df2.dropna()

In [18]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return,1 + Daily Return
1239,1353,2015-10-01,1.00,610.794,0.000000,1.000000
1238,1353,2015-10-02,1.00,610.794,0.000000,1.000000
1237,1353,2015-10-05,1.00,610.794,0.000000,1.000000
1236,1353,2015-10-06,1.00,610.794,0.000000,1.000000
1235,1353,2015-10-07,1.00,610.794,0.000000,1.000000
...,...,...,...,...,...,...
1024388,1542,2020-06-25,3.81,762.000,0.000000,1.000000
1024387,1542,2020-06-26,3.85,770.000,0.010499,1.010499
1024386,1542,2020-06-29,3.80,760.000,-0.012987,0.987013
1024385,1542,2020-06-30,3.80,760.000,0.000000,1.000000
1024384,1542,2020-07-01,3.80,760.000,0.000000,1.000000

In [19]:
df2['Cumsum of 1+Daily Return'] = ""

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return,1 + Daily Return,Cumsum of 1+Daily Return
1239,1353,2015-10-01,1.00,610.794,0.000000,1.000000,
1238,1353,2015-10-02,1.00,610.794,0.000000,1.000000,
1237,1353,2015-10-05,1.00,610.794,0.000000,1.000000,
1236,1353,2015-10-06,1.00,610.794,0.000000,1.000000,
1235,1353,2015-10-07,1.00,610.794,0.000000,1.000000,
...,...,...,...,...,...,...,...
1024388,1542,2020-06-25,3.81,762.000,0.000000,1.000000,
1024387,1542,2020-06-26,3.85,770.000,0.010499,1.010499,
1024386,1542,2020-06-29,3.80,760.000,-0.012987,0.987013,
1024385,1542,2020-06-30,3.80,760.000,0.000000,1.000000,
1024384,1542,2020-07-01,3.80,760.000,0.000000,1.000000,

In [21]:
df2 = df2.reset_index(drop=True)

In [22]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return,1 + Daily Return,Cumsum of 1+Daily Return
0,1353,2015-10-01,1.00,610.794,0.000000,1.000000,
1,1353,2015-10-02,1.00,610.794,0.000000,1.000000,
2,1353,2015-10-05,1.00,610.794,0.000000,1.000000,
3,1353,2015-10-06,1.00,610.794,0.000000,1.000000,
4,1353,2015-10-07,1.00,610.794,0.000000,1.000000,
...,...,...,...,...,...,...,...
370100,1542,2020-06-25,3.81,762.000,0.000000,1.000000,
370101,1542,2020-06-26,3.85,770.000,0.010499,1.010499,
370102,1542,2020-06-29,3.80,760.000,-0.012987,0.987013,
370103,1542,2020-06-30,3.80,760.000,0.000000,1.000000,
370104,1542,2020-07-01,3.80,760.000,0.000000,1.000000,

In [23]:
list_for_return = []

In [24]:
temp_list1 = df2[df2['STOCK_CODE']==stock_code[10]]['1 + Daily Return'].cumprod()

In [25]:
temp_list1

11168    234.285714
11169    234.285714
11170    234.285714
11171    234.285714
11172    255.714286
            ...
12404     57.000000
12405     61.428571
12406     61.428571
12407     61.428571
12408     61.428571
Name: 1 + Daily Return, Length: 1241, dtype: float64

In [26]:
df2 = df2.drop(columns='Cumsum of 1+Daily Return')

In [27]:
new_stock_code = df2['STOCK_CODE'].unique()

In [28]:
df2

,STOCK_CODE,DATE,BLOOMBERG_CLOSE_PRICE,CUR_MKT_CAP,Daily Return,1 + Daily Return
0,1353,2015-10-01,1.00,610.794,0.000000,1.000000
1,1353,2015-10-02,1.00,610.794,0.000000,1.000000
2,1353,2015-10-05,1.00,610.794,0.000000,1.000000
3,1353,2015-10-06,1.00,610.794,0.000000,1.000000
4,1353,2015-10-07,1.00,610.794,0.000000,1.000000
...,...,...,...,...,...,...
370100,1542,2020-06-25,3.81,762.000,0.000000,1.000000
370101,1542,2020-06-26,3.85,770.000,0.010499,1.010499
370102,1542,2020-06-29,3.80,760.000,-0.012987,0.987013
370103,1542,2020-06-30,3.80,760.000,0.000000,1.000000
370104,1542,2020-07-01,3.80,760.000,0.000000,1.000000

In [29]:
df2[df2['STOCK_CODE'] == new_stock_code[0]]['1 + Daily Return'].cumprod().to_list()[756]

1.0

In [30]:
list_for_3yr_holding_period_return = []

In [31]:
for stock in new_stock_code:
    if len(df2[df2['STOCK_CODE'] == stock]) < 756:
        value = df2[df2['STOCK_CODE'] == stock]['1 + Daily Return'].cumprod().to_list()[-1]
        list_for_3yr_holding_period_return.append(value)
    else:
        value = df2[df2['STOCK_CODE'] == stock]['1 + Daily Return'].cumprod().to_list()[756]
        list_for_3yr_holding_period_return.append(value)

In [32]:
list_for_3yr_holding_period_return

[1.0,
 0.27000000000000096,
 3.1999999999999886,
 18.666666666666643,
 9.307692307692298,
 8.90243902439022,
 2.096638655462183,
 1.2458100558659193,
 0.352941176470588,
 154.2857142857147,
 0.37209302325581345,
 8.36956521739131,
 0.3970588235294113,
 3.5319148936170035,
 0.4347826086956502,
 0.9292929292929297,
 7.07142857142858,
 0.7526881720430116,
 8.22580645161291,
 0.9921568627450964,
 5.454545454545443,
 2.003472222222227,
 0.46359223300971053,
 3.599999999999993,
 9.806451612903215,
 0.7434944237918183,
 3.206349206349208,
 0.12686567164179108,
 23.68627450980399,
 0.39358288770053573,
 0.8958333333333333,
 10.416666666666648,
 7.453846153846139,
 0.30849825378346896,
 3.298076923076922,
 0.20540540540540514,
 0.9433962264150964,
 3.0270270270270143,
 0.36363636363636254,
 51.400000000000134,
 1.9224137931034566,
 1.8785714285714248,
 3.533333333333333,
 1.0696202531645584,
 1.0686274509803924,
 0.5425531914893604,
 56.50000000000018,
 0.23052464228934808,
 1.9999999999999967,
 0.2299465240641705,
 7.720000000000031,
 2.1056338028169006,
 0.5746268656716425,
 11.145454545454562,
 0.39759036144578347,
 17.16666666666676,
 1.8783382789317509,
 1.4978540772532243,
 4.4418604651162745,
 0.09374999999999996,
 8.749999999999993,
 0.48322147651006786,
 34.6212121212123,
 0.0806691449814125,
 13.85714285714288,
 0.27536231884057927,
 27.74999999999992,
 0.42004773269689766,
 0.8000000000000005,
 4.130434782608693,
 11.026315789473692,
 0.35169491525423763,
 19.400000000000055,
 0.05049504950495062,
 7.588235294117643,
 1.0611111111111116,
 17.031250000000007,
 0.05969101123595484,
 5.3571428571428585,
 4.560000000000016,
 0.8468586387434558,
 0.22089552238806026,
 6.639344262295061,
 1.3088235294117636,
 0.04788732394366203,
 10.129032258064539,
 0.10315186246418369,
 0.6857142857142845,
 11.000000000000027,
 0.24528301886792528,
 0.7613636363636362,
 2.9574468085106242,
 0.3066666666666668,
 7.166666666666666,
 16.9666666666667,
 0.05681818181818188,
 1.1375,
 5.93069306930695,
 0.07079646017699116,
 10.018115942028984,
 0.03412784398699901,
 36.57142857142857,
 0.042168674698795185,
 372.72727272727235,
 0.012324929971988639,
 9.50000000000002,
 1.830508474576268,
 9.000000000000012,
 0.9837925445705005,
 0.10590631364562074,
 6.8333333333333215,
 17.499999999999904,
 5.955357142857158,
 0.12211981566820267,
 55.33333333333313,
 0.05193370165745854,
 5.879999999999982,
 0.5170068027210917,
 17.406250000000018,
 1.6666666666666652,
 0.41538461538461596,
 2.2178217821782202,
 0.588235294117648,
 1.8923076923076914,
 6.515789473684212,
 0.3311965811965811,
 2.1000000000000063,
 0.8869565217391291,
 3.904109589041077,
 0.19819819819819798,
 0.30357142857142844,
 5.500000000000003,
 1.6463414634146372,
 21.25000000000003,
 0.44028520499108975,
 1.5791855203619931,
 1.1507936507936491,
 2.0748299319727876,
 0.03359999999999995,
 11.15384615384616,
 1.911392405063291,
 1.025641025641027,
 21.575757575757663,
 0.015111695137976356,
 26.549999999999937,
 7.957446808510626,
 0.04772727272727264,
 2.441717791411041,
 0.191387559808612,
 2.9076923076923156,
 0.19379844961240292,
 17.60000000000001,
 1.4141414141414137,
 0.4578947368421032,
 0.19178082191780824,
 7.500000000000031,
 4.835820895522396,
 0.23397435897435953,
 10.436619718309862,
 0.21639344262295018,
 1.0794701986754962,
 1.79245283018868,
 1.304054054054055,
 0.673387096774196,
 2.5611510791366885,
 10.219780219780212,
 0.2683080808080797,
 5.09638554216867,
 0.49560853199498106,
 0.2156862745098042,
 0.7662337662337669,
 1.5135135135135105,
 2.07843137254902,
 10.075268817204297,
 0.3563049853372442,
 0.19298245614035073,
 8.472222222222234,
 0.09687499999999975,
 24.44999999999997,
 0.22979797979797978,
 4.703296703296694,
 1.1513353115726999,
 1.4873417721518931,
 0.5376712328767119,
 0.22535211267605615,
 3.2727272727272765,
 0.8593750000000012,
 2.375,
 16.461538461538538,
 0.4695652173913045,
 3.0645161290322704,
 12.476635514018652,
 0.002626262626262644,
 0.7000000000000005,
 70.0000000000002,
 0.31775700934579515,
 1.0576923076923084,
 7.818181818181842,
 0.11829134720700935,
 0.4545454545454543,
 2.999999999999999,
 73.16176470588208,
 0.00805538074260538,
 2.824074074074065,
 1.2168674698795172,
 0.16283924843423778,
 8.27027027027027,
 0.07678571428571415,
 5.3333333333333295,
 3.7956204379562095,
 0.008988764044943781,
 65.0000000000001,
 2.5230769230769257,
 0.2682926829268282,
 8.530612244897945,
 0.17111650485436924,
 0.18320610687022867,
 2.3749999999999964,
 5.263157894736824,
 3.2083333333333384,
 2.5011185682326516,
 0.02187902187902182,
 3.4117647058823404,
 4.714285714285713,
 0.43434343434343525,
 0.2527472527472525,
 30.307692307692268,
 0.1301059001512858,
 5.116279069767426,
 1.2818181818181826,
 0.5791962174940894,
 0.5224489795918373,
 2.015624999999998,
 0.05263157894736833,
 43.692307692307715,
 0.4868871151653358,
 0.17937219730941606,
 10.578947368421039,
 0.09500000000000017,
 0.8387096774193572,
 0.548387096774195,
 16.526315789473685,
 0.6092436974789912,
 2.2758620689655076,
 0.04388714733542322,
 4.9285714285714235,
 2.19230769230769,
 1.3583333333333345,
 0.32824427480915874,
 19.27272727272729,
 0.15723270440251616,
 11.419999999999996,
 0.11208406304728512,
 0.21698113207547193,
 1.3478260869565188,
 4.258064516129042,
 1.522123893805303,
 0.05813953488372092,
 137.39999999999964,
 0.4776119402985072,
 0.5957031249999978,
 0.29508196721311436,
 1.1686746987951804,
 0.752577319587628,
 0.17808219178082188,
 973.0769230769254,
 0.0004936530324400494,
 48.571428571428626,
 0.5000000000000011,
 0.2823529411764701,
 4.270833333333333,
 0.03902439024390237,
 16.000000000000018,
 0.6406250000000011,
 3.1097560975609704,
 0.2500000000000001,
 0.8666666666666663,
 1.83076923076923,
 0.9579831932773122,
 6.289473684210534,
 0.011157601115760087,
 3.5000000000000058,
 0.3928571428571427,
 25.000000000000004,
 0.05454545454545454,
 41.333333333333414,
 0.990322580645158,
 0.030944625407166197,
 8.894736842105273,
 30.887573964497058,
 0.015708812260536414,
 0.10975609756097558,
 4.222222222222218,
 4.000000000000002,
 1.2499999999999991,
 0.08947368421052618,
 3.9411764705882346,
 0.2537313432835818,
 36.64705882352945,
 0.308186195826646,
 6.489583333333344,
 0.007223113964686992,
 100.88888888888891,
 0.016519823788546217,
 164.3333333333332,
 0.0150101419878296,
 6.675675675675686,
 0.07287449392712544,
 6.388888888888911,
 5.7739130434782675,
 0.17620481927710852,
 0.8547008547008551,
 4.85000000000002,
 0.04742268041237098,
 4.565217391304343,
 1.5714285714285712,
 0.1515151515151515,
 0.31999999999999984,
 1.6249999999999991,
 300.3846153846158,
 0.03072983354673502,
 0.2916666666666659,
 0.799999999999999,
 0.28571428571428553,
 6.499999999999993,
 0.9038461538461553,
 0.2127659574468082,
 3.799999999999998,
 0.4999999999999992,
 6.631578947368417,
 0.27777777777777757,
 7.257142857142845,
 0.11811023622047247,
 1.7999999999999998,
 27.59259259259254,
 0.011409395973154322,
 4.352941176470591,
 0.08108108108108086,
 1.166666666666666,
 4.000000000000001,
 3.7142857142857126,
 0.5865384615384611,
 0.6393442622950813,
 1.2051282051282037,
 0.8510638297872336,
 5.725,
 1.7598253275109137,
 0.8560794044665,
 0.18550724637681137,
 0.6249999999999981,
 0.4749999999999994,
 90.4210526315787,
 0.01688009313154822,
 5.482758620689664,
 13.96226415094342,
 0.5783783783783777,
 0.856697819314642,
 0.29818181818181916,
 0.11280487804878017,
 1.0,
 2.8378378378378324,
 2.1714285714285704,
 1.070175438596489,
 1.040983606557377,
 2.13779527559055,
 0.09208103130755071,
 0.7799999999999976,
 0.5897435897435905,
 1.391304347826084,
 0.6249999999999998,
 1.249999999999999,
 11.079999999999991,
 0.2599277978339349,
 2.2361111111111094,
 5.614906832298126,
 0.07522123893805291,
 3.8970588235294144,
 0.5169811320754729,
 1.0291970802919705,
 0.08510638297872317,
 1.666666666666665,
 7.699999999999993,
 0.25324675324675283,
 440.76923076923094,
 0.19022687609075073,
 0.04678899082568802,
 7.660130718954234,
 0.30375426621160434,
 4.623595505617967,
 0.02490886998784931,
 19.02439024390245,
 0.5243589743589726,
 8.76528117359413,
 0.5288702928870287,
 0.024789029535865027,
 5.127659574468079,
 0.7593360995850625,
 0.03278688524590167,
 3.4999999999999942,
 8.380952380952383,
 11.306818181818155,
 0.0492462311557787,
 5.795918367346934,
 0.14788732394366197,
 1.0357142857142847,
 16.04597701149425,
 0.10744985673352443,
 0.3399999999999999,
 9.745098039215678,
 6.3883299798792805,
 0.41952755905511807,
 0.0728228228228228,
 4.587628865979385,
 0.16404494382022464,
 4.164383561643834,
 33.125000000000014,
 0.06643495531281038,
 1.7907324364723476,
 0.26711185308848073,
 3.1874999999999987,
 0.11666666666666668,
 3.8823529411764706,
 0.18181818181818177,
 4.3095238095238075,
 0.6243093922651943,
 1.1061946902654867,
 0.18800000000000028,
 0.7446808510638296,
 151.14285714285703,
 0.03629489603024567,
 0.17708333333333331,
 0.7352941176470583,
 7.95999999999999,
 0.07035175879396988,
 69.5,
 0.32785200411099624,
 1.9561128526645783,
 1.8942307692307712,
 0.266497461928934,
 0.05396825396825404,
 0.7647058823529408,
 1.0,
 17.923076923076987,
 5.587982832618042,
 0.011520737327188951,
 84.66666666666659,
 0.1669291338582677,
 0.051886792452830156,
 10.909090909090892,
 6.608333333333326,
 0.013871374527112216,
 44.45454545454542,
 0.21676891615541952,
 29.339622641509447,
 0.01832797427652734,
 1.8771929824561406,
 2.9439252336448614,
 0.028571428571428605,
 23.777777777777832,
 0.2710280373831778,
 2.051724137931031,
 7.294117647058818,
 0.08294930875576027,
 1.2916666666666674,
 0.34408602150537687,
 0.40625000000000006,
 56.92307692307688,
 0.43783783783783825,
 0.7561728395061723,
 1.9591836734693882,
 0.31249999999999944,
 9.346666666666671,
 1.1241084165477893,
 0.031091370558375544,
 2.755102040816327,
 27.03703703703705,
 0.026849315068493217,
 2.4285714285714275,
 0.26050420168067223,
 25.58064516129037,
 0.740226986128624,
 0.03918228279386701,
 1.8043478260869583,
 0.8674698795180701,
 3.7083333333333406,
 0.2284644194756552,
 0.34426229508196626,
 4.285714285714288,
 3.1777777777777803,
 0.14335664335664328,
 23.8048780487805,
 0.5584016393442623,
 0.1926605504587159,
 1.2952380952380966,
 2.294117647058822,
 1.0256410256410255,
 1.8999999999999981,
 0.1332236842105261,
 0.7407407407407407,
 9.166666666666679,
 0.2727272727272731,
 0.08000000000000002,
 6.000000000000003,
 31.319444444444414,
 0.034589800443458926,
 4.397435897435896,
 1.0991253644314876,
 2.625994694960211,
 0.288888888888889,
 1.968531468531467,
 0.0870337477797511,
 1.1836734693877546,
 1.8275862068965503,
 0.7830188679245285,
 0.5301204819277104,
 18.18181818181818,
 6.187499999999987,
 0.0044444444444444705,
 1.2727272727272754,
 6.928571428571424,
 0.38659793814432963,
 4.760000000000001,
 0.5182072829131651,
 9.902702702702703,
 0.8722707423580778,
 0.2841051314142674,
 0.07488986784140964,
 3.617647058823526,
 52.35772357723577,
 0.043788819875776486,
 0.10992907801418424,
 50.06451612903232,
 0.0309278350515464,
 1.1041666666666652,
 1.37735849056604,
 1.7397260273972588,
 3.259842519685037,
 0.06038647342995159,
 14.67999999999999,
 0.10354223433242506,
 210.5263157894737,
 0.039499999999999945,
 0.712025316455696,
 0.8355555555555558,
 3.952127659574471,
 0.23687752355316322,
 1.090909090909091,
 40.624999999999964,
 0.13487179487179465,
 1.7015209125475292,
 0.10837988826815638,
 1.9587628865979356]

In [33]:
len(new_stock_code)

552

In [34]:
len(list_for_3yr_holding_period_return)

552

In [35]:
finalized_df = pd.DataFrame()
finalized_df['STOCK_CODE'] = new_stock_code
finalized_df['3 yr holding period return'] = list_for_3yr_holding_period_return

In [36]:
finalized_df['3 yr holding period return'] = finalized_df['3 yr holding period return'] - 1

In [37]:
# Finalized dataframe
finalized_df

     STOCK_CODE  3 yr holding period return
0          1353                    0.000000
1          1439                   -0.730000
2          1247                    2.200000
3          3332                   17.666667
4          2080                    8.307692
..          ...                         ...
547        6049                   39.625000
548        9928                   -0.865128
549        9909                    0.701521
550        9911                   -0.891620
551        1542                    0.958763

[552 rows x 2 columns]

In [38]:
# Sorting from the lowest to the highest
finalized_df.sort_values('3 yr holding period return')

     STOCK_CODE  3 yr holding period return
266        1630                   -0.999506
192        1420                   -0.997374
517        1843                   -0.995556
301        2022                   -0.992777
202        1612                   -0.991945
..          ...                         ...
540        3759                  209.526316
319        3319                  299.384615
103        6826                  371.727273
383        3690                  439.769231
265        2269                  972.076923

[552 rows x 2 columns]

In [39]:
finalized_df.describe()

        STOCK_CODE  3 yr holding period return
count   552.000000                  552.000000
mean   2550.998188                    9.788010
std    1688.220236                   52.914934
min     288.000000                   -0.999506
25%    1580.750000                   -0.727698
50%    1856.500000                    0.151064
75%    2769.000000                    4.381494
max    9928.000000                  972.076923

In [40]:
finalized_df

     STOCK_CODE  3 yr holding period return
0          1353                    0.000000
1          1439                   -0.730000
2          1247                    2.200000
3          3332                   17.666667
4          2080                    8.307692
..          ...                         ...
547        6049                   39.625000
548        9928                   -0.865128
549        9909                    0.701521
550        9911                   -0.891620
551        1542                    0.958763

[552 rows x 2 columns]